body{
    background-image: linear-gradient(to right,#e74e4b,#fb8133,#e74e4b);
}

.myBody{
    margin-top: 10%;
}

input{

    width: 90%;
    border: 2px sloid lightgreen;
    border-radius: 6px;
    text-align: center;
    margin: 6px 5px;
    padding: 4px 4px;
}